<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:with="pageTitle=#{comCopBbs.articleVO.title}">
    <meta charset="UTF-8">
    <title th:text="${pageTitle} + ' ' + #{title.list}"></title><!--게시글 목록-->
    <link th:href="@{/css/pattern_css.css}" type="text/css" rel="stylesheet">
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body th:with="pageTitle=#{comCopBbs.articleVO.title}">
<!-- javascript warning tag  -->
<noscript class="noScriptTitle" th:text="#{common.noScriptTitle.msg}"></noscript>
<div>
    <h1 id="bbsTitle" th:text="${pageTitle} + ' ' + #{title.list} + ' - '"></h1><!--게시글 목록-->
    <!--하단 버튼-->
    <!-- 검색 입력폼 -->
    <div class="search-top-box" th:title="#{common.searchCondition.msg}">
        <div class="sch-form-wrap">
            <select class="form-select" name="searchCnd" id="searchCnd" th:title="#{title.searchCondition} + ' ' + #{input.cSelect}">
                <option value="0" th:selected="${searchCnd == '0'}">
                    <span th:text="#{comCopBbs.articleVO.list.nttSj}"></span>
                </option>
                <option value="1" th:selected="${searchCnd == '1'}">
                    <span th:text="#{comCopBbs.articleVO.list.nttCn}"></span>
                </option>
                <option value="1" th:selected="${searchCnd == '2'}">
                    <span th:text="#{table.reger}"></span>
                </option>
            </select>
            <div class="sch-input">
                <input type="text" class="form-control" placeholder="검색어를 입력해주세요" name="searchWrd" id="searchWrd" th:title="#{title.search} + ' ' + #{input.input}">
                <button type="button" class="btn btn-ico ico-sch" onclick="fn_egov_search_article(bbsId, 1)" th:title="#{title.inquire} + ' ' + #{input.button}">
                    <span class="sr-only" th:text="#{button.inquire}"></span>
                </button>
            </div>
<!--            <button type="button" class="btn" onclick="window.location.href = '/cop/bbs/bbs/insertArticleView';" th:text="#{button.create}" th:title="#{button.create} + ' ' + #{input.button}"></button>-->
            <button type="button" class="btn" th:onclick="|location.href='@{/cop/bbs/bbs/insertArticleView(bbsId=${bbsId})}'|" th:text="#{button.create}" th:title="#{button.create} + ' ' + #{input.button}"></button>
        </div>
    </div>
    <!-- //검색 입력폼 -->

    <!-- 검색 결과 : 리스트 -->
<!--    <ul class="search-list type1" id="articleList" th:title="#{common.summary.list(${pageTitle})}"></ul>-->
    <div class="tbl-wrap">
        <table class="tbl col data">
            <caption>게시글 목록</caption>
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 40%;">
                <col style="width: 20%;">
                <col style="width: 10%;">
                <col style="width: 10%;">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th scope="col">구분</th>
                <th scope="col">제목</th>
                <th scope="col">게시일</th>
                <th scope="col">등록자</th>
                <th scope="col">조회수</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!-- //검색 결과 : 리스트 -->

    <!-- paging : 웹 -->
    <div class="pagination w-page" id="pagination">
        <div class="page-links">
            <a class="page-link active" href="#">1</a>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var bbsId = /*[[${bbsId}]]*/;       // 서버에서 전달된 bbsId 값을 사용
    var pageNum = /*[[${pageNum}]]*/;   // 서버에서 전달된 pageNum 값을 사용
    var messages = {
        "table.num": /*[[#{table.num}]]*/,
        "table.reger": /*[[#{table.reger}]]*/,
        "table.regdate": /*[[#{table.regdate}]]*/,
        "comCopBbs.articleVO.detail.inqireCo": /*[[#{comCopBbs.articleVO.detail.inqireCo}]]*/,
        "common.nodata.msg": /*[[#{common.nodata.msg}]]*/
    };

    // 페이지 로드 시 초기 데이터 가져오기
    $(document).ready(function() {
        fn_egov_inquire_bbsdetail(bbsId);
        fn_egov_search_article(bbsId, pageNum);
    });

    /*********************************************************
     * 게시판 조회 처리 함수
     ******************************************************** */
    function fn_egov_inquire_bbsdetail(bbsId) {
        $.ajax({
            url: '/cop/bbs/bbs/selectBBSMasterDetail',
            method: 'GET',
            data: { bbsId: bbsId },
            success: function (response) {
                renderBBSMasterInf(response);
            },
            error: function (error) {
                console.error("Error fetching bbs detail:", error);
            }
        });
    }

    /*********************************************************
     * 게시글 조회 처리 함수
     ******************************************************** */
    function fn_egov_search_article(bbsId, pageIndex) {
        const searchCnd = $('#searchCnd').val();
        const searchWrd = $('#searchWrd').val();
        $.ajax({
            url: `/cop/bbs/bbs/selectArticleList`,
            method: 'GET',
            data: { bbsId: bbsId, searchCnd: searchCnd, searchWrd: searchWrd, pageIndex: pageIndex },
            success: function(response) {
                renderArticleList(response, pageIndex, bbsId);
                renderPagination(response.paginationHtml);
                // 조회 후 값을 화면에 반영
                $('#searchCnd').val(searchCnd);
                $('#searchWrd').val(searchWrd);
            },
            error: function(error) {
                console.error("Error fetching bbs list:", error);
                renderArticleList({ content: [] }, pageIndex);
                renderPagination({ totalElements: 0, number: 0, size: 10, totalPages: 1 });
            }
        });
    }

    /*********************************************************
     * 게시판 정보 렌더링 함수
     ******************************************************** */
    function renderBBSMasterInf(response) {
        const bbsName = response.bbsNm;
        $('#bbsTitle').append(bbsName);
    }

    /*********************************************************
     * 게시글 목록 렌더링 함수
     ******************************************************** */
    function renderArticleList(response, pageIndex, bbsId) {
        // const articleList = $('#articleList');
        const articleList = $('.tbl-wrap tbody');
        articleList.empty();
        if (response.content.length > 0) {
            const totalElements = response.totalElements;
            console.log(response);
            response.noticeList.forEach((item) => {
               const noticeItem = `<tr onclick="location.href='/cop/bbs/bbs/selectArticleDetailView?bbsId=${bbsId}&nttId=${item.nttId}&pageNum=${pageIndex}'">
                                        <td><span class="krds-badge">공지</span></td>
                                        <td style="font-weight: bold;">
                                            <span style="display: inline-block; width: 20px; height: 20px; background: url('/img/egovframe/icon_notice.png') no-repeat center center"></span>
                                            ${item.nttSj}
                                        </td>
                                        <td>${item.frstRegistPnttm}</td>
                                        <td>${item.ntcrNm}</td>
                                        <td>${item.rdcnt}</td>
                                    <tr>`
                articleList.append(noticeItem);
            });
            response.content.forEach((article, index) => {
                const listItem = `<tr onclick="location.href='/cop/bbs/bbs/selectArticleDetailView?bbsId=${bbsId}&nttId=${article.nttId}&pageNum=${pageIndex}'">
                                    <td>${totalElements - ((response.number * response.size) + index)}</td>
                                    <td ${article.sjBoldAt === "Y" ? "style='font-weight:bold;'":""}>
                                    ${article.answerAt === "Y"?
                                        Array(article.answerLc).fill("&nbsp&nbsp&nbsp&nbsp").join(' ') + "<span style=\"display: inline-block; width: 20px; height: 20px; background: url('/img/egovframe/icon_reply.png') no-repeat center center;\"></span>" : ""}
                                    ${article.nttSj}
                                    </td>
                                    <td>${article.frstRegistPnttm}</td>
                                    <td>${article.ntcrNm}</td>
                                    <td>${article.rdcnt}</td>
                                </tr>`;
                // const listItem = `<li class="li">
                //         <div class="in">
                //             <div class="card-top">
                //                 <span title="${messages['table.num']}">${totalElements - ((response.number * response.size) + index)}</span>
                //                 <div class="btn-area">
                //                     <button type="button" class="sm">${messages['table.reger']} : </button>
                //                     <button type="button" class="sm">${article.frstRegisterNm}</button>
                //                 </div>
                //             </div>
                //             <div class="card-body">
                //                 <a href="/cop/bbs/bbs/selectArticleDetailView?bbsId=${bbsId}&nttId=${article.nttId}&pageNum=${pageIndex}" class="c-text">
                //                     <p class="c-tit"><span class="span">${article.nttSj}</span></p>
                //                     <p class="c-date">
                //                         <strong class="key">${messages['table.regdate']}</strong>
                //                         <span class="value">${article.frstRegistPnttm}</span>
                //                     </p>
                //                 </a>
                //             </div>
                //             <div class="card-btm">
                //                 <span title="${messages['comCopBbs.articleVO.detail.inqireCo']}">${article.rdcnt}</span>
                //             </div>
                //         </div>
                //     </li>`;
                articleList.append(listItem);
            });
        } else {
            const listItem = '<tr><td colspan="5">데이터 없음</td></tr>'
            // const listItem = `<li class="li">
            //         <div class="in">
            //             <div class="card-top">
            //                 <span  title="${messages['table.num']}">1</span>
            //                 <div class="btn-area">
            //                     <button type="button" class="sm">${messages['table.reger']} : </button>
            //                     <button type="button" class="sm">데이터 없음</button>
            //                 </div>
            //             </div>
            //             <div class="card-body">
            //                 <a href="#" class="c-text">
            //                     <p class="c-tit"><span class="span">${messages['common.nodata.msg']}</span></p>
            //                     <p class="c-date">
            //                         <strong class="key">${messages['table.regdate']}</strong>
            //                         <span class="value">데이터 없음</span>
            //                     </p>
            //                 </a>
            //             </div>
            //             <div class="card-btm">
            //                 <span title="${messages['comCopBbs.articleVO.detail.inqireCo']}">데이터 없음</span>
            //             </div>
            //         </div>
            //     </li>`;
            articleList.append(listItem);
        }
    }

    /*********************************************************
     * 페이지네이션 렌더링 함수
     ******************************************************** */
    function renderPagination(paginationHtml) {
        const pagination = $('#pagination');
        pagination.empty();
        pagination.append(paginationHtml);
    }

    /*********************************************************
     * 페이지네이션 조회 함수
     ******************************************************** */
    function linkPage(pageIndex) {
        fn_egov_search_article(bbsId, pageIndex);
    }
</script>

</body>
</html>
