<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:with="pageTitle=#{comCopBbs.boardMasterVO.title}">
    <meta charset="UTF-8">
    <title th:text="${pageTitle} + ' ' + #{title.detail}"></title>
    <div th:replace="egovframework/com/cop/bbs/bbs/fragement/linkFragment"></div>
</head>
<body th:with="pageTitle=#{comCopBbs.boardMasterVO.title}">
<!-- javascript warning tag  -->
<noscript class="noScriptTitle" th:text="#{common.noScriptTitle.msg}"></noscript>
<div class="conts-wrap scroll-check">
    <div class="conts-wrap section-link" id="section_01">
        <div id="container">
            <h1 th:text="${pageTitle} + ' ' + #{title.detail}"></h1>
            <!-- table list -->
            <div class="tbl-wrap" th:title="${#messages.msg('common.summary.inqire', pageTitle)}">
                <table class="tbl col data">
                    <tr>
                        <th th:text="#{comCopBbs.boardMasterVO.detail.bbsNm}"></th>
                        <td id="bbsNm"></td>
                    </tr>
                    <tr>
                        <th th:text="#{comCopBbs.boardMasterVO.detail.bbsTyCode}"></th>
                        <td id="bbsTyCode"></td>
                    </tr>
                    <tr>
                        <th th:text="#{table.reger}"></th>
                        <td id="frstRegisterNm"></td>
                    </tr>
                    <tr>
                        <th th:text="#{table.regdate}"></th>
                        <td id="frstRegistPnttm"></td>
                    </tr>
                    <tr>
                        <th th:text="#{comCopBbs.boardMasterVO.detail.useAt}"></th>
                        <td id="useAt"></td>
                    </tr>
                    <tr>
                        <th th:text="#{comCopBbs.boardMasterVO.detail.replyPosblAt}"></th>
                        <td id="replyPosblAt"></td>
                    </tr>
                    <tr>
                        <th th:text="#{comCopBbs.boardMasterVO.detail.fileAtchPosblAt}"></th>
                        <td id="fileAtchPosblAt"></td>
                    </tr>
                    <tr>
                        <th th:text="#{comCopBbs.boardMasterVO.detail.atchPosblFileNumber}"></th>
                        <td id="atchPosblFileNumber"></td>
                    </tr>
                    <tr>
                        <th th:text="#{comCopBbs.boardMasterVO.detail.bbsIntrcn}"></th>
                        <td id="bbsIntrcn"></td>
                    </tr>
                    <tr>
                        <th th:text="#{comCopBbs.boardMasterVO.detail.bbsAdres}"></th>
                        <td id="bbsAdres"></td>
                    </tr>
                    <tr>
                        <th th:text="#{comCopBbs.boardMasterVO.detail.option}"></th>
                        <td id="option"></td>
                    </tr>
                </table>
            </div>
            <!-- //table list -->
            <div class="page-btn-wrap chip-wrap">
                <button type="button" class="krds-btn large tertiary" onclick="fn_egov_inqire_bbslist()" th:text="#{button.list}" th:title="#{title.list} + ' ' + #{input.button}"></button>
                <button type="button" class="krds-btn large" id="updateBtn" onclick="fn_egov_updt_view_bbs()" th:text="#{button.update}" th:title="#{title.update} + ' ' + #{input.button}"></button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var bbsId = /*[[${bbsId}]]*/;

    $(document).ready(function() {
        /*********************************************************
         * 페이지 로드 시 초기 데이터 가져오기
         ******************************************************** */
        fn_egov_inquire_bbsdetail(bbsId);
    });

    /*********************************************************
     * 조회 처리 함수
     ******************************************************** */
    function fn_egov_inquire_bbsdetail(bbsId) {
        $.ajax({
            url: '/cop/bbs/bbs/selectBBSMasterDetail',
            method: 'GET',
            data: { bbsId: bbsId },
            success: function (response) {
                renderBbsDetail(response);
            },
            error: function (error) {
                console.error("Error fetching bbs detail:", error);
            }
        });
    }

    /*********************************************************
     * 게시글 렌더링 함수
     ******************************************************** */
    function renderBbsDetail(response) {
        $('#bbsNm').text(response.bbsNm);
        $('#bbsTyCode').text(response.bbsTyCodeNm);
        $('#frstRegisterNm').text(response.frstRegisterNm);
        $('#frstRegistPnttm').text(response.frstRegistPnttm);
        $('#useAt').text(response.useAt);
        $('#replyPosblAt').text(response.replyPosblAt);
        $('#fileAtchPosblAt').text(response.fileAtchPosblAt);
        $('#atchPosblFileNumber').text(response.atchPosblFileNumber);
        $('#bbsIntrcn').text(response.bbsIntrcn);
        // 링크를 동적으로 생성하여 설정
        const bbsAdres = '/cop/bbs/bbs/selectArticleListView?bbsId=' + response.bbsId;
        const bbsAdresLink = '<a href="' + bbsAdres + '">' + bbsAdres + '</a>';
        $('#bbsAdres').html(bbsAdresLink);
        // 옵션 값 설정
        var option = '';
        if (response.option == 'comment') {
            option = /*[[#{comCopBbs.boardMasterVO.detail.option2}]]*/;
        } else if (response.option == 'stsfdg') {
            option = /*[[#{comCopBbs.boardMasterVO.detail.option3}]]*/;
        } else {
            option = /*[[#{comCopBbs.boardMasterVO.detail.option1}]]*/;
        }
        $('#option').text(option);
    }

    /*********************************************************
     * 목록 버튼 처리 함수
     ******************************************************** */
    function fn_egov_inqire_bbslist() {
        // 현재 URL에서 pageNum 파라미터 추출
        var urlParams = new URLSearchParams(window.location.search);
        var pageNum = urlParams.get('pageNum') || 1; // pageNum이 없으면 기본값으로 1 설정

        // 목록 화면 URL로 이동, pageNum을 쿼리 파라미터로 포함
        window.location.href = '/cop/bbs/bbs/selectBBSMasterInfsView?pageNum=' + pageNum;
    }

    /*********************************************************
     * 수정 버튼 처리 함수
     ******************************************************** */
    function fn_egov_updt_view_bbs() {
        // 현재 URL에서 pageNum 파라미터 추출
        var urlParams = new URLSearchParams(window.location.search);
        var pageNum = urlParams.get('pageNum') || 1; // pageNum이 없으면 기본값으로 1 설정

        // 목록 화면 URL로 이동, pageNum을 쿼리 파라미터로 포함
        window.location.href = '/cop/bbs/bbs/updateBBSMasterView?bbsId=' + bbsId + '&pageNum=' + pageNum;
    }
</script>

</body>
</html>